* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "gilroy";
}

#page1 {
  height: 100vh;
  width: 100%;
  /* background-color: rgb (80, 207, 229); */
}

#page2 {
  height: 100vh;
  width: 100%;
  /* background-color: rgb(57, 156, 174); */
}

#page3 {
  height: 100vh;
  width: 100%;
  /* background-color: rgb(39, 109, 121); */
}
#page2 #image-div {
  height: 100%;
  width: 35%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  /* background-color: red; */
}
#image-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.4;
}
